.title {
  display: flex;
  align-items: center;
}

.title img {
  height: 45px;
  border-radius: 23px;
}

.title p {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.title h3 {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.tweetimg {
  height: 40px;
  border-radius: 23px;
}

.search-filter {
  display: flex;
  justify-content: space-around;
}
.container
{
  width: 100%;
  max-height: 75vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar 
{
  display: none;
}