.title {
  display: flex;
  align-items: center;
}

.title img {
  height: 45px;
  border-radius: 23px;
}

.title p {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.title h3 {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.tweetimg {
  height: 40px;
  border-radius: 23px;
}
