.title {
  display: flex;
  align-items: center;
}

.title img {
  height: 45px;
  border-radius: 23px;
}

.title p {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.title h3 {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}


.tweetimg {
  height: 40px;
  border-radius: 23px;
}

.search-filter {
  display: flex;
  justify-content: space-around;
}
.form-inline
{
  margin-bottom:2%;
}
input.form-control
{
  width: 100% !important;
   box-shadow: 2px 2px 10px #000000a4;;
}

  .jumbotron
  {
    width: 90%;
    background-color: rgb(202, 202, 202);
     box-shadow: 2px 2px 10px #000000a4;;
    margin-bottom: 1vh !important;
  }

  .button
  {
     box-shadow: 2px 2px 10px #000000a4;;
  }

  .button:focus
  {
    background-color: rgb(192, 192, 192);
  }

  .card-header
  {
    background-color: rgb(202, 202, 202);
    border-radius: 10px !important;
  }

  .card
  {
    box-shadow: 2px 4px 10px #000000;
    border-radius: 10px;
  }
a:focus
{
  text-decoration: none;
  color: #000000;
}

a:hover
  {
    color: #000000;
    text-decoration: none;
    text-shadow: 2px 2px 10px #000000;
  }

.container
{
  width: 100%;
  max-height: 83vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: 10px;
}
::-webkit-scrollbar 
{
  display: none;
}