

.home-container {
  display: flex;
  margin: 10px;
  align-items: flex-start;
  justify-content: right;
  padding: 50px;
}
@media only screen and (max-width: 600px) {
  .home-container {
    display: grid;
  }
  .button:nth-child(-n+4){
    display:block;
}
}


.button-container{
  display: contents;
}

.image-src{
  width: 80%;
}